<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profesor"></ion-back-button>
    </ion-buttons>
    <ion-title>QR</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-text-center">
    <h2>Registra tu asistencia</h2>
    <h2>escaneando el qr</h2>
    <ion-icon name="chevron-down-outline" size="medium" id="arrow"></ion-icon>
  </div>

  <ion-card color="{{ section.color }}">
    <img src="../../../assets/frame.png" alt="">
    <ion-card-header>
      <ion-card-subtitle>{{ section.title }} </ion-card-subtitle>
      <ion-card-title>{{ section.cod}}_{{ section.section }}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>