.img{
    height: 100px;
    width: 100px;
    margin-top: 10px;
    object-fit: cover;

}

.bienvenido{
    text-align:center;
}

.boton{
    border-radius: 100px;
    color:white;
}

.qr{
    margin-top:35px;
}

.boton{
    width: 180px;
    text-align: center;
    font-size: 25px;
    margin-top: 200px;
}

