<ion-header>
  <ion-toolbar>
    <center>
    <ion-title>Profesor</ion-title>
    </center>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item lines="full">
    <ion-button size="small" color="medium" fill="outline" slot="end" strong="true" [routerLink]="['/login']">Cerrar</ion-button>
    <ion-label>
      <h3>{{ user }}</h3>
      <p>{{ name }}</p>
    </ion-label>
  </ion-item>

  <ion-list>
    <ion-list-header>
      <ion-label>Secciones:</ion-label>
    </ion-list-header>
    <ion-card button="true" *ngFor="let asignatura of asignaturas" color="light"
      [routerLink]="['/profesor', (asignatura.cod + asignatura.section)]">
      <ion-card-header>
        <ion-card-subtitle>
          {{ asignatura.section }}
        </ion-card-subtitle>
        <ion-card-title>
          {{ asignatura.cod }}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        {{ asignatura.title }}
      </ion-card-content>
      <div [style.backgroundColor]="asignatura.hex" id="after"></div>
    </ion-card>
  </ion-list>
</ion-content>
